
.vs/GHWind/v16/.suo
.vs/GHWind/v16/Server/sqlite3/storage.ide
.vs/GHWind/v16/Server/sqlite3/storage.ide-shm
.vs/GHWind/v16/Server/sqlite3/storage.ide-wal
.vs/GHWind/v16/.suo
.vs/GHWind/v16/Server/sqlite3/storage.ide
